html, body { overflow-x: hidden; }
body { padding-top: 50px; padding-bottom: 100px; }

.save-errors dl    { padding-left: 10px; margin-bottom: 5px; clear: both; margin-top: 2px; }
.save-errors dl dt { float: left; margin-right: 5px; }

footer img { width: 42px; }
.navbar-fixed-top button { color: #FFFFFF; }

/* Caption */
.caption    { padding: 10px 20px; font-size: 1.2em; margin-bottom: 25px; }
.caption h1 { font-size: 2.5em; }

/* Selectbox */
.chosen-container-single .chosen-single:hover, .filtering .filter-data-type-multiselect .chosen-container-multi ul.chosen-choices:hover { border-color: #ADADAD; }
.chosen-container-single .chosen-single, .chosen-container .chosen-choices { color: #707070; border-radius: 3px; padding: 6px 10px; font-size: 14px; height: auto; background: #F2F2F2 linear-gradient(to bottom, #FFFFFF, #F2F2F2) repeat-x; border-color: #CCCCCC; text-shadow: 0 1px 0 #FFFFFF; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075); }
.has-error .chosen-single        { border-color: #A94442; }
.chosen-with-drop .chosen-single { background: linear-gradient(#EEEEEE 20%, #FFFFFF 80%) !important; }
.chosen-container-single .chosen-single div b, .chosen-container-single .chosen-single abbr { margin-top: 7px; }
.chosen-container-single .chosen-search input[type="text"] { border-radius: 3px; }
.error .chosen-container-multi .chosen-choices { border-color: red; }
.chosen-container-single .chosen-single div b { background: none !important; width: 0; height: 0; line-height: 18px; display: inline-block; }
.form-input-wrapper-sm .chosen-single { padding: 2px 10px; font-size: 12px; }
.form-input-wrapper-sm .chosen-container-single .chosen-single div b, .form-input-wrapper-sm .chosen-container-single .chosen-single abbr { margin-top: 4px; }
.dropup .chosen-container .chosen-drop { border-bottom: 0; border-top: 1px solid #aaa; border-radius: 0; border-top-left-radius: 3px; border-top-right-radius: 3px; top: auto; bottom: 30px; }
.chosen-container .chosen-choices li.search-field input[type="text"] { height: 27px; padding: 3px 0 0 0; margin: 0; width:100% !important }

/* Listing Filtering DataTables */
.filtering .filtering-container        { float: none; display: inline-block; }
.filtering button.filter-action-submit { min-width: 40px; }
.filtering .daterange                  { margin-left: 0 !important; margin-top: 1px; font-size: 12px; width: 100%; }
.filtering .daterange div              { opacity: 0.65; }
.filtering label                       { color: #777777; margin-bottom: 0; font-size: 12px; font-weight: 200; display: block; }
.filtering input, .filtering button.filter-action-submit, .filtering button.filter-action-reset, .filtering .chosen-container { margin-top: 1px !important; font-size: 12px; }
.filtering .filtering-container li     { margin-right: 7px; }
.filtering .caret                      { border-bottom-color: #333333; border-top-color: #333333; }
.filtering .navbar-toggle              { padding: 6px 10px; }
.filtering .chosen-container-single .chosen-single, .pagination-per-page-selector .chosen-single, .filtering .filter-data-type-multiselect .chosen-container-multi ul.chosen-choices { background-image: linear-gradient(to bottom, #FFFFFF 0, #E0E0E0 100%); }
.filtering .filter-data-type-multiselect .chosen-container-multi ul.chosen-choices { font-size: 12px; padding: 0 10px; }
.filtering .filter-data-type-multiselect .chosen-container-multi ul.chosen-choices li.search-field input { padding: 2px 0 0; }
.filtering a.filtering-area-trigger:hover, .filtering a.filtering-area-trigger:active { text-decoration: none; }

/* Listing DataTables Tools */
.datatable-tools label { display: inline; vertical-align: middle; font-size: 12px; }

/* Date range picker */
.daterangepicker_start_input, .daterangepicker_end_input { display: none; }

/* Listing Sorting DataTables */
table.data-table[data-type="xhr"] { display: none; }
table.data-table th.column-caption{ min-width: 140px; }
table.data-table th a.sort        { text-decoration: none; display: block; color: #333333; outline: none; white-space: nowrap; }
table.data-table th a.sort:hover  { text-decoration: none; }
table.data-table th a.sort .sort-btn { margin-top: 2px; }
table.data-table th               { height: 40px; }
table.data-table th:hover         { background-image: linear-gradient(to bottom, #FFFFFF, #DEDEDE); }
table.data-table td.table-actions { border-top: 0; }
table.data-table td.table-summary, table.data-table tr:hover td.table-summary { text-align: center; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.067) inset; background-image: linear-gradient(to bottom, #F2F2F2, #FFFFFF); }
table.data-table th.column-type-heading-datetime { width: 180px; }
table.data-table th.column-type-heading-actions, table.data-table td.column-actions { width: 175px; min-width: 175px; }
table.data-table tbody tr td { vertical-align: middle; }
table.data-table thead.fixed { position: fixed; top: 50px; z-index: 1000; }
table.data-table tbody tr    { cursor: pointer; }

/* Pagination */
.pagination-per-page-selector        { display: inline; }
.pagination-per-page-selector input  { display: none; }
.pagination-per-page-selector select { width: 68px; margin-left: 5px; vertical-align: middle; }
.pagination-per-page-selector .chosen-container { width: 68px !important; color: #000000; }
.pagination li.active a { background-color: #F5F5F5; }

/* File upload */
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 999px; text-align: right; filter: alpha(opacity=0); opacity: 0; background: red; cursor: inherit; display: block; }
.image-preview   { margin-right: 20px; margin-bottom: 20px; }
.image-preview a { display: block; }

/* Dropzone */
.dropzone { border: 1px dashed #CCCCCC; border-radius: 3px; }
.dropzone .dz-preview .dz-image { box-shadow: 0 0 5px #CCCCCC; }

/* Colorpicker */
.colorpicker-component .input-group-addon i { border-radius: 3px; }

/* Lightbox */
.ekko-lightbox-container{position:relative}.ekko-lightbox-nav-overlay{position:absolute;top:0;left:0;z-index:100;width:100%;height:100%}.ekko-lightbox-nav-overlay a{z-index:100;display:block;width:49%;height:100%;padding-top:45%;font-size:30px;color:#fff;text-shadow:2px 2px 4px #000;opacity:0;filter:dropshadow(color=#000000,offx=2,offy=2);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;-o-transition:opacity .5s;transition:opacity .5s}.ekko-lightbox-nav-overlay a:empty{width:49%}.ekko-lightbox a:hover{text-decoration:none;opacity:1}.ekko-lightbox .glyphicon-chevron-left{left:0;float:left;padding-left:15px;text-align:left}.ekko-lightbox .glyphicon-chevron-right{right:0;float:right;padding-right:15px;text-align:right}.ekko-lightbox .modal-footer{text-align:left}

@media screen and (min-width: 1px) {
  .filtering .collapse                 { display: none !important; }
  .filtering .in,
  .filtering .navbar-toggle            { display: block !important; }
  .filtering .navbar-header            { width: 100%; }
  .filtering .navbar-collapse          { overflow: visible; }
  .filtering .chosen-drop              { display: none; }
  .filtering .chosen-with-drop .chosen-drop { display: block; }
}

@media screen and (max-width: 767px) {
    .filtering .filtering-container { display: block; }
}

/* Modules Navigation */
#cms-modules { position: fixed; left: 0; top: 50px; width: inherit; height: 100%; box-shadow: inset 0 0 10px #DDDDDD; }
#cms-modules .panel { background: transparent; border-top: 1px solid #F2F2F2 !important; }
#cms-modules .panel .panel-heading { padding: 12px 10px; border-top-right-radius: 4px !important; border-bottom-right-radius: 4px !important; }
#cms-modules .panel .panel-title { font-size: 14px; }
#cms-modules .panel .panel-body { font-size: 13px; }
#cms-modules .panel .panel-heading a {  outline: none; }
#cms-modules .panel-active .panel-heading { background: #ED1F4E; color: #FFFFFF; }
#cms-modules .panel-active .panel-heading a:hover, #cms-modules .panel-active .panel-heading a:active, #cms-modules .panel-active .panel-heading a:focus { color: #FFFFFF; }
#cms-modules .panel a:hover { text-decoration: none; }
#cms-modules .panel li.active a { color: #040707; }
#cms-modules ul li { padding: 3px 0; }

/* Athlon callouts */
.ath-callout    { display: block; padding: 20px; background: #F5F5F5 linear-gradient(#F5F5F5 10%, #FFFFFF 90%) repeat-x; }
.ath-callout h4 { color: #666666; margin-top: 0;}
.ath-callout p:last-child  { margin-bottom: 0; }

/* Form sections */
.form-sections-navigation-wrapper.nav-tabs > li > a { background: #FFFFFF; text-align: left; font-weight: bold; color: #737373; }
.form-sections-navigation-wrapper.nav-tabs > li > a.text-danger { color: #A94442; }
.form-sections-navigation-wrapper.nav-tabs > .active > a, .form-sections-navigation-wrapper.nav-tabs.nav-justified > .active > a:hover, .form-sections-navigation-wrapper.nav-tabs.nav-justified > .active > a:focus { background: #F5F5F5; border-bottom-color: #F5F5F5; outline: none; }
.form-sections-navigation-wrapper.nav-tabs > li:first-child a, .form-sections-navigation-wrapper.nav-tabs > li:first-child a:hover, .form-sections-navigation-wrapper.nav-tabs > li:first-child.active a { border-left: 0; border-top-left-radius: 0; }
.form-sections-navigation-wrapper.nav-tabs > li:last-child a, .form-sections-navigation-wrapper.nav-tabs > li:last-child a:hover,  .form-sections-navigation-wrapper.nav-tabs > li:last-child.active a { border-right: 0; border-top-right-radius: 0; }

@media screen and (max-width: 992px) {
    .row-offcanvas { position: relative; left: 0; transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; }
    .row-offcanvas-right #cms-modules { right: -40%; }
    .row-offcanvas-left #cms-modules  { left: -40%; }
    .row-offcanvas-right.active { right: 40%; }
    .row-offcanvas-left.active  { left: 40%; }
    #cms-modules { width: 40%; transition: all 0.2s ease-out; -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; }
    .row-offcanvas-right.active #cms-modules { right: 0; }
    .row-offcanvas-left.active #cms-modules { left: 0; }
    .toggle-navigation-user { padding: 4px 8px; }
    .navbar-user { color: #FFFFFF; }
    .navbar-user a { display: block; }
    .navbar-user b { float: right; margin-top: 8px; }
    .form-sections-navigation-wrapper.nav-tabs.nav-justified > li     { display: table-cell; width: 1%; }
    .form-sections-navigation-wrapper.nav-tabs.nav-justified > li > a { border-bottom: 1px solid #DDDDDD; border-radius: 4px 4px 0 0; margin-bottom: 0; }
    .form-sections-navigation-wrapper.nav-tabs.nav-justified > .active > a, .form-sections-navigation-wrapper.nav-tabs.nav-justified > .active > a:hover, .form-sections-navigation-wrapper.nav-tabs.nav-justified > .active > a:focus { background: #F5F5F5; border-bottom-color: #F5F5F5; }
}

/* Navigaion */
.navbar-listing-tools { min-height: 48px; }
.navbar-listing-tools .pagination > li > a, .navbar-listing-tools .pagination > li > span { padding: 5px 12px; }

/* Modals */
#modal-preview .modal-actions-wrapper { display: none; }

/* Loader */
.loader-wrapper { width: 60%; margin-top: 10px; }
#spinner-loader { position:fixed; top:50%; left:50% }

/* Common */
.account-profile-preview-wrapper { padding: 30px 0 0 0; }
