# Silla.IO Application Development Framework

# Environment configuration
<IfModule mod_env.c>
    SetEnv ENV_SILLA_ENVIRONMENT 'development'
#   SetEnv ENV_SILLA_ENVIRONMENT 'staging'
#   SetEnv ENV_SILLA_ENVIRONMENT 'production'
</IfModule>

# Rewrite rules
<IfModule mod_rewrite.c>
    RewriteEngine On

    # RewritBase /<path-to-silla>

    RewriteCond %{REQUEST_FILENAME} !(/public/)
    RewriteCond %{REQUEST_URI} !.*(favicon\.ico|sitemap\.xml|robots\.txt)$
    
    RewriteRule .* index.php [QSA,L]
</IfModule>

# Overrides META specified charset.
AddDefaultCharset utf-8

# Error Documents
ErrorDocument 403 '<h2>403 Application Forbidden</h2>'
ErrorDocument 404 '<h2>404 Not Found</h2>'
ErrorDocument 500 '<h2>Application error</h2>Application failed to start properly'
